ENABLE_BITCODE=NO
IPHONEOS_DEPLOYMENT_TARGET[arch=i386]=6.0
IPHONEOS_DEPLOYMENT_TARGET[arch=armv7]=6.0
IPHONEOS_DEPLOYMENT_TARGET[arch=arm64]=7.0
IPHONEOS_DEPLOYMENT_TARGET[arch=x86_64]=7.0
CLANG_CXX_LIBRARY=libc++
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS=0
CODE_SIGN_IDENTITY=Mac Developer: Monte Goulding (2KB8DJ8S4T)
